.flex {
  display: flex;
}
.outline {
  width: 50%;
  height: 50%;
}
.midText {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutH1 {
  font-size: 2rem;
  padding-bottom: 5%;
}
.aboutH2 {
  font-size: 1.8rem;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  overflow-x: hidden;
}
.nav-container {
  display: flex;
  height: 5vh;
  justify-content: center;
  align-items: center;
  background-color: #15CBC4;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .nav-container {
    justify-content: flex-start;
    max-width: 100%;
  }
}
.nav-container nav {
  display: flex;
  padding-left: 25vw;
}
@media (max-width: 500px) {
  .nav-container nav {
    padding-left: 0;
  }
}
.nav-container a {
  text-decoration: none;
  font-size: 20px;
  padding: 0 1.4rem;
  color: white;
  white-space: nowrap;
}
.nav-container a:hover {
  color: #FF6959;
}
@media (max-width: 500px) {
  .nav-container a {
    font-size: 15px;
    padding: 0 0.7rem;
  }
}
.nav-container .button-container {
  display: flex;
}
.nav-container .button-container .button {
  border-radius: 20px;
  padding: 5px 2vw;
  margin: 0 2vw;
  color: white;
  background-color: #15CBC4;
  border: 2px solid white;
}
@media (max-width: 500px) {
  .nav-container .button-container .button {
    margin: 0 1vw;
  }
}
.nav-container .button-container .button:hover {
  color: #FF6959;
  border: 2px solid #FFB59B;
}
.main-container {
  height: 55vh;
  background-color: #0fd1cb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
  .main-container {
    flex-direction: column;
    height: 45vh;
  }
}
.main-container .img-container {
  height: 35vh;
  margin-right: 10vw;
}
@media (max-width: 500px) {
  .main-container .img-container {
    height: 15vh;
    margin-right: 0;
    width: 90%;
  }
}
.main-container .img-container img {
  height: 30vh;
}
@media (max-width: 500px) {
  .main-container .img-container img {
    height: 25vh;
    margin-right: 0;
    width: 90%;
  }
}
.main-container .text-container {
  margin: 50px 20px;
  padding: 30px 0;
}
.main-container .text-container h1 {
  color: white;
  font-size: 2.8rem;
  padding: 2vh 0;
}
@media (max-width: 500px) {
  .main-container .text-container h1 {
    font-size: 2.2rem;
    text-align: center;
  }
}
.main-container .text-container h2 {
  color: white;
  font-size: 2rem;
  padding: 2vh 0;
}
@media (max-width: 500px) {
  .main-container .text-container h2 {
    font-size: 1.8rem;
    text-align: center;
  }
}
.info-container {
  display: flex;
  flex-direction: column;
}
.info-container .info-box {
  height: 25vh;
  display: flex;
  flex-direction: row;
}
.info-container .info-box p {
  width: 47vw;
  text-align: center;
  font-size: 25px;
  padding-top: 5vh;
}
@media (max-width: 500px) {
  .info-container .info-box p {
    font-size: 20px;
    padding-top: 3vh;
  }
}
.info-container .info-box img {
  height: 22vh;
  width: 47vw;
  padding-top: 5px;
}
.info-container .box-one {
  background-color: #f0ecec;
}
/********** About Us ***********/
.lead-container {
  height: 40vh;
  display: flex;
  flex-direction: row;
  background-color: #0fd1cb;
  width: 100%;
}
@media (max-width: 500px) {
  .lead-container {
    height: 30vh;
  }
}
.lead-container img {
  height: 38vh;
  width: 40%;
}
@media (max-width: 500px) {
  .lead-container img {
    height: 27vh;
  }
}
.lead-container .lead-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  color: white;
  white-space: nowrap;
}
.lead-container .lead-text h1 {
  font-size: 3rem;
  padding-bottom: 5%;
}
@media (max-width: 500px) {
  .lead-container .lead-text h1 {
    font-size: 2.5rem;
  }
}
.lead-container .lead-text h2 {
  font-size: 2.3rem;
}
@media (max-width: 500px) {
  .lead-container .lead-text h2 {
    font-size: 1.8rem;
  }
}
.mid-container {
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 500px) {
  .mid-container {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 65vh;
  }
}
.mid-container img {
  width: 25vw;
}
.mid-container .midOne {
  display: flex;
  width: 50%;
  height: 50%;
  background-color: #f0ecec;
}
@media (max-width: 500px) {
  .mid-container .midOne {
    width: 100vw;
  }
}
.mid-container .midOne .mid-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}
@media (max-width: 500px) {
  .mid-container .midOne .mid-text {
    padding-left: 5%;
  }
}
.mid-container .midOne .mid-text h1 {
  font-size: 2rem;
  padding-bottom: 5%;
}
.mid-container .midOne .mid-text h2 {
  font-size: 1.8rem;
}
.mid-container .midTwo {
  display: flex;
  width: 50%;
  height: 50%;
  background-color: white;
}
@media (max-width: 500px) {
  .mid-container .midTwo {
    width: 100vw;
  }
}
.mid-container .midTwo .mid-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #049994;
}
@media (max-width: 500px) {
  .mid-container .midTwo .mid-text {
    padding-left: 5%;
  }
}
.mid-container .midTwo .mid-text h1 {
  font-size: 2rem;
  padding-bottom: 5%;
}
.mid-container .midTwo .mid-text h2 {
  font-size: 1.8rem;
}
.mid-container .midThree {
  display: flex;
  width: 50%;
  height: 50%;
  background-color: white;
}
@media (max-width: 500px) {
  .mid-container .midThree {
    width: 100vw;
    background-color: #f0ecec;
  }
}
.mid-container .midThree .mid-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #049994;
}
@media (max-width: 500px) {
  .mid-container .midThree .mid-text {
    color: black;
    padding-left: 5%;
  }
}
.mid-container .midThree .mid-text h1 {
  font-size: 2rem;
  padding-bottom: 5%;
}
.mid-container .midThree .mid-text h2 {
  font-size: 1.8rem;
}
.mid-container .midFour {
  display: flex;
  width: 50%;
  height: 50%;
  background-color: #f0ecec;
}
@media (max-width: 500px) {
  .mid-container .midFour {
    width: 100vw;
    background-color: white;
  }
}
.mid-container .midFour .mid-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}
@media (max-width: 500px) {
  .mid-container .midFour .mid-text {
    color: #049994;
    padding-left: 5%;
  }
}
.mid-container .midFour .mid-text h1 {
  font-size: 2rem;
  padding-bottom: 5%;
}
.mid-container .midFour .mid-text h2 {
  font-size: 1.8rem;
}
