/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.nav-container {
  display: flex;
  height: 5vh;
  justify-content: center;
  align-items: center;
  background-color: #15CBC4;
  justify-content: space-around;
}
.nav-container nav {
  display: flex;
  padding-left: 25vw;
}
.nav-container a {
  text-decoration: none;
  font-size: 20px;
  padding: 0 1.4rem;
  color: white;
  white-space: nowrap;
}
.nav-container .button-container {
  display: flex;
}
.nav-container .button-container button {
  border-radius: 20px;
  padding: 5px 2vw;
  margin: 0 2vw;
  color: white;
  background-color: #15CBC4;
  border: 2px solid white;
}
.nav-container .button-container button:hover {
  color: #FF6959;
  border: 2px solid #FFB59B;
}
.main-container {
  height: 55vh;
  background-color: #0fd1cb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.main-container .img-container {
  height: 35vh;
  margin-right: 10vw;
}
.main-container .img-container img {
  height: 30vh;
}
.main-container .text-container {
  margin: 50px 20px;
  padding: 30px 0;
}
.main-container .text-container h1 {
  color: white;
  font-size: 2.8rem;
  padding: 2vh 0;
}
.main-container .text-container h2 {
  color: white;
  font-size: 2rem;
  padding: 2vh 0;
}
.info-container {
  display: flex;
  flex-direction: column;
}
.info-container .info-box {
  height: 25vh;
  display: flex;
  flex-direction: row;
}
.info-container .info-box h3 {
  width: 47vw;
  text-align: center;
  font-size: 25px;
  padding-top: 5vh;
}
.info-container .info-box img {
  height: 22vh;
  width: 47vw;
  padding-top: 5px;
}
.info-container .box-one {
  background-color: #f0ecec;
}
